body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(to right, rgb(134, 202, 146), rgb(49, 125, 57)); */
  /*background: linear-gradient(to right, rgb(193, 209, 221), rgb(156, 180, 199)); */
  background: #C1D1DD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor: pointer;
}
